.container-margin{
  margin-top: 70px;
}
.print-header{
  margin-top: 20px;
}
.btn-space{
    margin-right: 5px;
}
.btn-default:hover, .btn-primary.focus, .btn-primary:focus {
  color: #fff;
  background-color: #ff5e25;
  border-color: #ff5e25;
}
.img-custom-size{
    height: 500px;
}
.img-frame-size{
    height: 100px;
    width: 100px;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
}
.imageColorFrameClass{
    border: 5px solid #000;
}

hr {
  margin: 0px;
  padding-bottom: 10px;
  border-top: 3px solid #ff5e25;
}
.borders{
    border :5px solid #ff5e25;
}
.grey{
  background: #eee;
}
.red{
  background: red;
}
.blue{
  background: blue;
}

.btn-primary{
  color: #fff;
  background-color: #ff5e25;
  border-color: #ff5e25;
}
.myDiv{
    float: left;
    margin: 5px;
    margin-left: 0px;
}
.steps {
    display: inline-block;
}
.step-title {
    margin-left: 10px;
    margin-right: 10px;
    /*color: #ff5e25;*/
}
.step-content{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;

}
.step-icon-selected {
    border-radius:  100% ;
    color: #ff5e25;
    background: #ff5e25;
    width: 15px;
    height:  15px;
    margin: auto;
    display: block;
}
.step-icon {
    border-radius:  100% ;
    border:1px solid black;
    width: 15px;
    height:  15px;
    margin: auto;
    display: block;
}

.btn:hover {
  color: #fff;
  background-color: #ff5e25;
  border-color: #ff5e25;
}

.tab-btn{
  background: #000;
  color: #ff5e25;
}

.category-btn{
  background: #000;
  color: #000;
}

.subcategory-btn{
  background: #000;
  color: #000;
}

.categories-btn{
  background: #000;
  color: #fff;
}